<main>
  <article>

    <!-- 
      - #PORTFOLIO
    -->

    <section class="section portfolio" aria-labelledby="portfolio-label">
      <div class="container">

        <h2 class="section-title headline-md text-center" id="portfolio-label">Latest Projects</h2>

        <ul class="portfolio-list">

          <li>
            <div class="portfolio-card">

              <div class="card-banner img-holder" style="--width: 800; --height: 530;">
                <a href="https://github.com/chrysaliswoon/NTU-CE6">
                  <img src="./assets/images/cloud.png" width="800" height="540" loading="lazy"
                    alt="Cloud Engineering Projects" class="img-cover">
                </a>

              </div>

              <div class="card-content">

                <span class="chip label-md">Networking Infrastructure, Cloud Computing, CI/CD Process, Kubernetes</span>

                <h3 class="title-md">NTU Cloud Engineering Course Projects</h3>

                <p class="card-text">
                  A 6-month course by Nanyang Technological University (NTU) in 
                  Cloud Infrastructure Engineering Programme which covers basic <b>infrastructure knowledge</b>, 
                  <b>cloud computing technologies</b>, suites of cloud products and the modern deployment strategy 
                  with containerization orchestrated through <b>Kubernetes</b>.
                </p>

                <div class="button-container">
                  <a href="https://github.com/chrysaliswoon/NTU-CE6" class="btn btn-primary">View GitHub Page</a>
                  
                </div>

              </div>

            </div>
          </li>

          <li>
            <div class="portfolio-card">

              <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                

                <a href="https://www.linkedin.com/posts/chrysalis-woon_vttp-activity-7057198080982487040-QphK/?utm_source=share&utm_medium=member_desktop">
                  <img src="./assets/images/booktribe.jpg" width="800" height="540" loading="lazy"
                  alt="Booktribe Project" class="img-cover">
                </a>
              </div>

              <div class="card-content">

                <span class="chip label-md">Angular, SpringBoot, MySQL, DigitalOcean</span>

                <h3 class="title-md">BookTribe</h3>

                <p class="card-text">
                  An alternative to GoodReads to bring together a community of bookworms and 
                  readers built with <b>Angular</b>, <b>Java SpringBoot</b>, 
                  <b>MySQL</b> and <b>DigitalOcean Spaces</b> to 
                  showcase a full-stack project. 
                </p>

                <div class="button-container">
                  <a href="https://github.com/chrysaliswoon/BookTribeV2" class="btn btn-primary">View GitHub Page</a>
                  <a href="https://www.linkedin.com/posts/chrysalis-woon_vttp-activity-7057198080982487040-QphK/?utm_source=share&utm_medium=member_desktop" class="btn btn-primary">View Live Demo</a>  
                </div>

              </div>

            </div>
          </li>

          <li>
            <div class="portfolio-card">

              <div class="card-banner img-holder" style="--width: 800; --height: 530;">
                

                <a href="https://moneybank.vercel.app/dashboard">

                  <img src="./assets/images/finance.jpg" width="800" height="540" loading="lazy"
                  alt="Website Design for Marketing Agency Startup" class="img-cover">
                  
                </a>
              </div>

              <div class="card-content">

                <span class="chip label-md">React, MongoDB, Express, Node</span>

                <h3 class="title-md">Personal Financial Tracker</h3>

                <p class="card-text">
                  A 2-person team project built with <b>MongoDB, Express, React,</b> and <b>Node</b>. 
                  Before attempting the project, we used Figma to come up with a Wireframe, 
                  and used <b>Git</b> best practices for the team collaboration. Deployed on <b>Vercel</b>. 
                </p>

                <div class="button-container">
                  <a href="https://github.com/chrysaliswoon/financial-tracker" class="btn btn-primary">View GitHub Page</a>
                  <a href="https://moneybank.vercel.app/dashboard" class="btn btn-primary">View Live Demo</a>  
                </div>

              </div>

            </div>
          </li>

          <li>
            <div class="portfolio-card">

              <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                
                <a href="https://chrysaliswoon.github.io/catris-game/" >

                  <img src="./assets/images/tetris.jpg" width="800" height="540" loading="lazy"
                  alt="Website Design for Marketing Agency Startup" class="img-cover">
                  
                </a>
              </div>

              <div class="card-content">

                <span class="chip label-md">HTML, CSS, Javascript, APIs</span>

                <h3 class="title-md">Catris</h3>

                <p class="card-text">
                  Spin-off a classic Tetris game built with <b>HTML, CSS & JS </b>to illustrate 
                  the use of the <b>Canvas API</b> and <b>Sweet Alert Method</b>. 
                </p>
                <div class="button-container">
                  <a href="https://github.com/chrysaliswoon/catris-game" class="btn btn-primary">View GitHub Page</a>
                  <a href="https://chrysaliswoon.github.io/catris-game/" class="btn btn-primary">View Live Demo</a>  
                </div>
    
              </div>

            </div>
          </li>

          <li>
            <div class="portfolio-card">

              <div class="card-banner img-holder" style="--width: 800; --height: 430;">
          
                <a href="https://chrysaliswoon.github.io/landscape-tycoon/" class="img-cover">
                  <img src="./assets/images/landscape.png" width="800" height="540" loading="lazy"
                  alt="Landscape Game">
                </a>
              </div>

              <div class="card-content">

                <span class="chip label-md">Javascript</span>

                <h3 class="title-md">Landscape Game</h3>

                <p class="card-text">
                  A spin-off Coffee Tycoon created using vanilla <b>JS</b> to apply various computing 
                  concepts such as Arrays, Loops & Conditionals. Deployed on <b>Github Page</b>. 
                </p>

                <div class="button-container">
                  <a href="https://github.com/chrysaliswoon/landscape-tycoon" class="btn btn-primary">View GitHub Page</a>
                  <a href="https://chrysaliswoon.github.io/landscape-tycoon/" class="btn btn-primary">View Live Demo</a>  
                </div>

              </div>

            </div>
          </li>

        </ul>

      </div>
    </section>

  </article>
</main>
