<main>
  <article>

    <!-- 
      - #HERO
    -->

    <section class="section hero" aria-label="home">
      <div class="container">

        <div class="hero-content">

          <p class="hero-subtitle">Hi There!</p>

          <h1 class="headline-lg">My name is Chrysalis</h1>

          <!-- <p class="hero-text body-md">
            Based in Singapore.
          </p> -->

          <a href="#client-section" class="btn btn-primary">Get To Know Me</a>

        </div>

        <figure class="hero-banner">
          <img src="assets/images/hero-banner.png" width="680" height="645"
            alt="Chrysalis" class="w-100">
        </figure>

      </div>
    </section>

    <!-- 
      - #PAST COMPANIES
    -->

    <section class="client" aria-label="Trusted client" id="client-section">
      <div class="container">
        <h5 class="headline-lg">Companies I've Worked At</h5>
        <ul class="slider">

          <li class="slider-item">
            <!-- <img src="./assets/images/glints-logo.png" width="130" height="130" alt="Glints" > -->
          </li>

          <li class="slider-item">
            <img src="./assets/images/glints-logo.png" width="130" height="130" alt="Glints" >
          </li>

          <li class="slider-item">
            <img src="./assets/images/kc-logo.png" width="130" height="130" alt="Glints" >
          </li>

          <li class="slider-item">
            <img src="./assets/images/sk-logo.png" width="200" height="200" alt="Saturday Kids" >
          </li>

          <li class="slider-item">
            <img src="./assets/images/visa-logo.png" width="130" height="40" alt="Visa">
          </li>


        </ul>

      </div>
    </section>





    <!-- 
      - #ABOUT
    -->

    <section class="section about" aria-label="about me">
      <div class="container">

        <figure class="about-banner">
          <img src="./assets/images/profile.png" width="580" height="554" loading="lazy"
            alt="Chrysalis Woon" class="w-100">
        </figure>

        <div class="about-content">

          <h2 class="title-lg">I'm a Systems Analyst & aspiring DevOps Engineer with over 3 years of experience.</h2>

          <p class="body-md section-text">
            I'm from Singapore, and as an aspiring DevOps engineer, 
            I am passionate about bridging the gap between development and operations to drive efficient, automated, and scalable solutions.
          </p>

          <p class="body-md section-text">
            This personal portfolio was created using <b>Angular</b> and deployed on <b>insert deployment method</b>.
          </p>

          <ul class="about-list">

            <!-- <li>
              <p class="list-text">
                <strong class="strong title-md">30+</strong> Projects Completed
              </p>
            </li>

            <li>
              <p class="list-text">
                <strong class="strong title-md">190+</strong> Happy Clients
              </p>
            </li> -->

          </ul>

          <div class="wrapper">
            <a routerLink="/contact" class="btn btn-primary">Contact Me</a>

            <a routerLink="/portfolio" class="btn btn-secondary">Portfolio</a>
          </div>

        </div>

      </div>
    </section>





    <!-- 
      - #SKILL
    -->

    <section class="section skill" aria-labelledby="skill-label">
      <div class="container">

        <div class="skill-content">

          <h2 class="section-title headline-md" id="skill-label">My Skills</h2>

          <ul class="skill-list">

            <li>
              <div class="card card-sm" style="background-color: hsl(177, 39%, 72%)">
                <div class="card-media">
                  <ion-icon name="logo-html5"></ion-icon>
                </div>
                
                <h2 class="card-title">HTML</h2>

              </div>
            </li>

            <li>
              <div class="card card-sm" style="background-color: hsl(41, 99%, 64%)">

                <div class="card-media">
                  <ion-icon name="logo-css3"></ion-icon>
                </div>

                <h2 class="card-title">CSS</h2>

              </div>
            </li>

            <li>
              <div class="card card-sm" style="background-color: hsl(19, 97%, 85%)">

                <div class="card-media">
                  <ion-icon name="logo-javascript"></ion-icon>
                </div>

                <h2 class="card-title">Javascript</h2>

              </div>
            </li>

            <li>
              <div class="card card-sm" style="background-color: hsl(221, 100%, 79%)">

                <div class="card-media">
                  <ion-icon name="logo-python"></ion-icon>
                </div>

                <h2 class="card-title">Python</h2>

              </div>
            </li>

            <li>
              <div class="card card-sm" style="background-color: hsl(76, 39%, 72%)">

                <div class="card-media">
                  <ion-icon name="logo-angular"></ion-icon>
                </div>

                <h2 class="card-title">Angular</h2>

              </div>
            </li>

            <li>
              <div class="card card-sm" style="background-color: hsl(245, 100%, 90%)">

                <div class="card-media">
                  <ion-icon name="logo-react"></ion-icon>
                </div>

                <h2 class="card-title">React JS</h2>

              </div>
            </li>

          </ul>

        </div>

        <figure class="skill-banner">
          <img src="./assets/images/chrysalis.png" width="500" height="500" loading="lazy"
            alt="Chrysalis Woon Illustration" class="w-100">
        </figure>

      </div>
    </section>

    <!-- 
      - #CERTIFICATIONS
    -->

    <section class="section certifications" aria-label="certifications">
      <div class="container">

        <div class="about-content">

          <h2 class="section-title headline-md" id="skill-label">Certifications</h2>
          <ul class="slider">
  
            <li class="slider-item">
              <a href="https://credentials.nus.edu.sg/2435de6e-7dea-4953-8a99-d449a3880585">
                <img src="./assets/images/diploma.png" width="200" height="200" alt="Professional Diploma in Software Development" >
              </a>
            </li>
  
            <li class="slider-item">
              <a href="https://drive.google.com/file/d/1FLnnReERebgNbEveZkNygyQBaJXDpppW/view">
                <img src="./assets/images/bootcamp.png" width="300" height="300" alt="General Assembly Bootcamp" >
              </a>
            </li>
  
            <li class="slider-item">
              <a href="https://www.codecademy.com/profiles/chrysalis3531123878/certificates/9eb0741e5ebef1f9f58a53bfac67d3a7">
                <img src="./assets/images/html.png" width="300" height="300" alt="HTML Cert" >
              </a>
            </li>
  
            <li class="slider-item">
              <a href="https://www.codecademy.com/profiles/chrysalis3531123878/certificates/9a5bb1fc45b4281af1fffec93b0aaf05">
                <img src="./assets/images/css.png" width="300" height="300" alt="CSS Cert">
              </a>
            </li>

            <li class="slider-item">
              <a href="https://www.codecademy.com/profiles/chrysalis3531123878/certificates/d3f89367b558583e361640f778191345">
                <img src="./assets/images/java.png" width="300" height="300" alt="Java Cert">
              </a>
            </li>
  
  
          </ul>
        </div>

      </div>
    </section>





    <!-- 
      - #CTA
    -->

    <section class="cta">
      <div class="container">
        <h2 class="title-lg">Intrested working with me?</h2>

        <a routerLink="/contact" class="btn btn-tertiary">Contact Now</a>
      </div>
    </section>



    <!-- 
      - #TESTIMONIALS
    -->

    <section class="section testi" aria-labelledby="testi-label">
      <div class="container">

        <h2 class="headline-md section-title text-center" id="testi-label">Testimonial</h2>

        <ul class="slider">

          <li class="slider-item card-container">
            <div class="card card-lg">

              <figure class="card-media">
                <img src="./assets/images/qin-en.png" width="100" height="100" loading="lazy" alt="Qin En Looi"
                  class="img-cover">
              </figure>

              <div class="card-content">

                <blockquote class="body-sm">
                  Chrys played a pivotal role in defining what the Glints experience is to talent, 
                  managing hundreds of unique conversations with talent every week.
                  I would unhesitatingly recommend Chrys to join any high-achieving team as she is a valued addition, 
                  and I would be glad to offer more information on Chrys's stellar performance on request.
                </blockquote>

                <p class="client-name">Qin En Looi</p>

                <p class="client-title">Partner at Saison Capital</p>

              </div>

            </div>
          </li>

          <li class="slider-item card-container">
            <div class="card card-lg">

              <figure class="card-media">
                <img src="./assets/images/swe.png" width="100" height="100" loading="lazy" alt="Swe Sin Tha"
                  class="img-cover">
              </figure>

              <div class="card-content">

                <blockquote class="body-sm">
                  Chrys singlehandedly automated our entire class scheduling and 
                  recruitment process, and is a wizard when it comes to automating processes with tools like Airtable, 
                  Slack and Zapier. She has a growth mindset and is always looking to improve things 
                  and is an asset to any team she's on no matter what role she is placed in.
                </blockquote>

                <p class="client-name">Swe Sin Tha</p>

                <p class="client-title">Training Manager/Producer at Prosci Singapore</p>

              </div>

            </div>
          </li>

          <li class="slider-item card-container">
            <div class="card card-lg">

              <figure class="card-media">
                <img src="./assets/images/carmen.png" width="100" height="100" loading="lazy" alt="Carmen Tan"
                  class="img-cover">
              </figure>

              <div class="card-content">

                <blockquote class="body-sm">
                  As my mentor at Saturday Kids, she supported me not only professionally, but also personally.
                  She is a quick learner with exceptional organisational skills, 
                  making her a valuable asset to any organisation. Chrysalis has a unique talent for motivating those around her, 
                  inspiring new perspectives and helping others achieve their goals. 
                </blockquote>

                <p class="client-name">Carmen Tan</p>

                <p class="client-title">Senior Project Assistant at NCS Group</p>

              </div>

            </div>
          </li>

          <!-- <li class="slider-item card-container">
            <div class="card card-lg">

              <figure class="card-media">
                <img src="assets/images/testi-4.jpg" width="100" height="100" loading="lazy" alt="Jennifer Lutheran"
                  class="img-cover">
              </figure>

              <div class="card-content">

                <blockquote class="body-sm">
                  Dolor lorem is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s.
                </blockquote>

                <p class="client-name">Chrysalis Woon</p>

                <p class="client-title">CEO at pxdraft</p>

              </div>

            </div>
          </li> -->

        </ul>

      </div>
    </section>

  </article>
</main>